main{
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
}

/* SECCIONES */

.nosotros,
.contacto{
    background: white;
    padding: 35px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
}

.nosotros h1,
.contacto h2{
    color: var(--color-principal);
    margin-bottom: 20px;
}

.nosotros h2{
    color: var(--color-secundario);
    margin-top: 30px;
    margin-bottom: 15px;
}

.nosotros p,
.contacto p{
    line-height: 1.8;
    margin-bottom: 15px;
}