/* Fondo general */
body {
    background-color: #F8FAFC;
    color: #1F2937;
}

/* Header */
.tech-header {
    background-color: #1E3A8A;
    color: white;
    padding: 15px 40px;
}

/* Nombre y descripción */
.logo-info h2 {
    color: white;
}

.logo-info span {
    color: #BFDBFE;
}

/* Menú */
.tech-nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.tech-nav a:hover {
    color: #60A5FA;
}

/* Sección Nosotros */
.nosotros {
    background-color: white;
    margin: 40px auto;
    padding: 40px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  
    text-align: center;
}

/* Títulos */
.nosotros h1 {
    color: #1E3A8A;
    margin-bottom: 20px;
}

.nosotros h2 {
    color: #2563EB;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* Párrafos */
.nosotros p {
    line-height: 1.7;
    margin-bottom: 15px;
}

/* Listas */
.nosotros ul {
    padding-left: 25px;
}

.nosotros li {
    margin-bottom: 8px;
}

/* Sección Reportar Problema */
.contacto {
    background-color: white;
    margin: 40px auto;
    padding: 40px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    
}

.contacto h2 {
    color: #1E3A8A;
}

/* Inputs */
input,
textarea{
    border: 2px solid #2563EB;
    border-radius: 8px;
}
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #CBD5E1;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Botón */
button {
    background-color: #2563EB;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #1D4ED8;
}

/* Footer */
footer {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}